name: site deploy
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: write
env:
  THISDIR: ${{ github.workspace }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup dependencies
        run: |
         sudo apt update
         sudo apt install graphviz
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
          cache: 'pip'
      - run: pip install -r requirements.txt
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          # see https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-commands#adding-a-system-path
      - name: make sure bin directory exists
        run: mkdir -p "$THISDIR/bin"
      - name: get latest plantuml;
        run: |
          echo "$THISDIR/bin" >> "$GITHUB_PATH"
          curl -L -o plantuml.jar https://github.com/plantuml/plantuml/releases/download/v1.2026.1/plantuml-1.2026.1.jar
          printf "#!/bin/bash\n$JAVA_HOME/bin/java -jar $THISDIR/bin/plantuml.jar \$@\n" >plantuml
          chmod +x plantuml
        working-directory: ./bin

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: create site
        uses: coactions/setup-xvfb@v1
        with:
          run: ./gradlew doSite


